{{define "promptModal"}}
<a-modal id="prompt-modal" v-model="promptModal.visible" :title="promptModal.title" :closable="true"
    @ok="promptModal.ok" :mask-closable="false" :ok-text="promptModal.okText" cancel-text="取消">
    <a-input id="prompt-modal-input" :type="promptModal.type" v-model="promptModal.value"
        :autosize="{minRows: 10, maxRows: 20}" @keydown.enter.native="promptModal.keyEnter"
        @keydown.ctrl.83="promptModal.ctrlS"></a-input>
</a-modal>

<script>

    const datePickerConfig = {
        format: 'YYYY/MM/DD',
        initialValueType: 'english',
        persianDigit: false,
        calendar: {
            persian: {
                enabled: true,
                locale: 'en',
                leapYearMode: 'astronomical',
            },
            gregorian: {
                enabled: false,
                locale: 'en'
            }
        },
        toolbox: {
            enabled: true,
            calendarSwitch: {
                enabled: false,
            },
            todayButton: {
                enabled: true,
                text: {
                    fa: "امروز",
                    en: "Today"
                }
            },
            submitButton: {
                enabled: true,
                text: {
                    fa: "تایید",
                    en: "Submit"
                }
            },
        },
        navigator: {
            enabled: true,
            text: {
                btnNextText: "",
                btnPrevText: ""
            }
        },
        dayPicker: {
            enabled: true,
            titleFormat: "YYYY MMMM"
        },
        monthPicker: {
            enabled: true,
            titleFormat: "YYYY"
        },
        yearPicker: {
            enabled: true,
            titleFormat: "YYYY"
        }
    }

    const promptModal = {
        title: '',
        expDate: '',
        type: '',
        value: '',
        okText: '确定',
        visible: false,
        keyEnter(e) {
            if (this.type !== 'textarea') {
                e.preventDefault();
                this.ok();
            }
        },
        ctrlS(e) {
            if (this.type === 'textarea') {
                e.preventDefault();
                promptModal.confirm(promptModal.value);
            }
        },
        ok() {
            promptModal.close();
            promptModal.confirm(promptModal.value);
        },
        confirm() { },
        open({
            title = '',
            expDate = '',
            type = 'text',
            value = '',
            okText = '确定',
            confirm = () => { },
        }) {
            this.title = title;
            this.expDate = expDate;
            this.type = type;
            this.value = value;
            this.okText = okText;
            this.confirm = confirm;
            this.visible = true;
            promptModalApp.$nextTick(() => {
                document.querySelector('#prompt-modal-input').focus();
                const expDate = document.getElementById('expDate');
                expDate.pDatepicker(datePickerConfig);
            });
        },
        close() {
            this.visible = false;
        }
    };

    const promptModalApp = new Vue({
        el: '#prompt-modal',
        data: {
            promptModal: promptModal,
        },
    });

</script>
{{end}}